.homeProfile{
    position: fixed;
    float: right;
    flex-direction: column;
    top: 1%;
    right: 20px; 
    width: 22%;
    height: 35%;
    border-radius: 10px; 
    background-color: #ffffff;
    padding: 10px;
    margin-right: -5px;  
    overflow-y: visible;
    z-index: 99;
}
.homeProfile h2{
    font-family: "Inter" ;
    font-weight: bold;
    font-size: 16px; 
    margin-top: 5px;
    margin-left: 90px;
}

.banner-homeProfile{
    width: 106%;
    height: 40%;
    object-fit: cover;
    margin-top: -10px;
    margin-left: -9px;
    border-radius: 7% 7% 0% 0%; 
}
.banner-homeProfile:hover{
    filter: brightness(0.7); 
}

.profile-homeProfile{
    position: fixed;
    width: 5%;
    height: 11%;
    margin-top: -35px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px black solid; 
}
.profile-homeProfile:hover{
    filter: brightness(0.7); 
}

.follow-homeProfile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: -10px;
    font-family: "Inter" ;  
}
.follow-homeProfile h3{
    font-size: 15px;
}
.follow-homeProfile h4{
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

.connect-homeProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 35px;
    gap: 20px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.connect-homeProfile:hover{
    border-radius: 12px;
    background-color: rgb(54, 54, 54);
}