.posts-main{
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }
  .comment-list::-webkit-scrollbar {
    width: 8px; 
  }
  
  .comment-list::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 5px; 
  }
  
  .comment-list::-webkit-scrollbar-track {
    background: transparent; 
  }

.posts{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: -5px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  border-radius: 0;
  border: none;
  padding: 10px;
  padding-bottom: 30px;
  width: 900px;
  margin-bottom: 430px;
  overflow-y: hidden;
}
.posts-form{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 110px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(211, 211, 211, 0.5));
  backdrop-filter: blur(10px);
}
.author{
  height: 15px;
  width: 300px;
  margin-left: 100px;
  margin-bottom: -10px;
  background-color: lightgray;
  border-radius: 10px;
}
.author:focus {
  border-color: grey;
  outline: none; 
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.userinfo{
  display: flex;
  flex-direction: row;
}
.details{
  margin-top: 3px;
  margin-left: 15px;
  gap: 5px;
}

.content{
  height: 40px;
  margin-left: 100px;
  resize: none;
  overflow: hidden;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
.content::-webkit-scrollbar {
  width: 8px; 
}

.content::-webkit-scrollbar-thumb {
  background-color: gray; 
  border-radius: 5px; 
}

.content::-webkit-scrollbar-track {
  background: transparent; 
}
.content:focus {
  border-color: grey;
  outline: none; 
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.post-button{
  margin-left: 10px;
}

.posts-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 200px;
    margin-top: 10px;
    margin-right: 20px;
    width: 350px;
  }
  .posts-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
.posts-content{
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
  margin-left: 5px;
}
.posts-content h2{
  margin-top: 5px;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.posts-content p{
  margin-top: -15px;
  font-size: 20px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}
.posts-content p.medium-font {
    font-size: 18px;
  }
.posts-content p.small-font {
    font-size: 15px;
  }

.post-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden; 
  margin-right: 10px;
  margin-top: 5px;
}

.post-avatar img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.avatar-posts {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden; 
  margin-right: 10px;
  position: fixed;
  bottom: 15px;
}

.avatar-posts img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.button {
    display: flex;
    flex-direction: row;
  }
  
  .likes-container {
    display: flex;
    flex-direction: row;
  }
  
  .likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .likes button {
    display: inline-flex;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-right: 2px;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .likes button:hover {
    border-radius: 25px;
  }
  .likes.clicked {
    transform: scale(1.1);
  }
  
  
  .likes span{
    margin-top: -6px;
    margin-left: 0px;
    margin-right: 3px;
    font-size: 15px;
    font-weight: medium;
  }
  
  .comment-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }
  
  .comment-button button {
    display: inline-flex;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-right: -1px;
  }
  
  .comment-button button:hover {
    border-radius: 25px;
  }
  
  .comment-button span{
    margin-top: -6px;
    margin-left: 0px;
    margin-right: 3px;
    font-size: 15px;
    font-weight: medium;
  }
  
  .Shares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }
  
  .Shares button {
    display: inline-flex;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-right: -1px;
  }
  
  .Shares button:hover {
    border-radius: 25px;
  }
  
  .Shares span{
    margin-top: -6px;
    margin-left: 0px;
    margin-right: 3px;
    font-size: 15px;
    font-weight: medium;
  }
  
  .comment-and-buttons{
    display: flex;
    position: fixed;
  }
  .comment-section{
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 30px;
    max-width: 350px;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
    height: 450px;
    box-shadow: 5px 15px 20px rgba(0, 0, 0.3, 0.3);
    border: 2px black solid;
  }
  .comment-section h4{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: -80px;
    margin-left: -10px;
    padding-left: 15px;
    padding-bottom: 5px;
    flex: 1;
    max-height: 100%;
    border-bottom: 2px black solid;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 355px;
  }
  .comment-list {
    margin-top: 90px;
    max-height: 370px; 
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }
  .comment-list::-webkit-scrollbar {
    width: 8px; 
  }
  
  .comment-list::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 5px; 
  }
  
  .comment-list::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .comment-content {
    margin-top: 50px;
    border-bottom: 1px gray solid;
  }
  
  .comment-content h5{
    margin-top: -30px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  .comment-content p{
    margin-top: -35px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  .comment-form {
    margin-top: -15px;
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .comment-input,
  .comment-author-input {
    padding: 10px;
    border: none;
    background-color: lightgray; 
    border-radius: 10px; 
    margin-bottom: 5px;
    margin-left: 2px;
    border: 1px rgb(231, 231, 231) solid;
  }
  
  .comment-input {
    margin-top: 20px;
    width: 60%;
    flex: 1;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }
  .comment-input::-webkit-scrollbar {
    width: 8px; 
  }
  
  .comment-input::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 5px; 
  }
  
  .comment-input::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .comment-author-input {
    width: 30%;
    margin-bottom: 10px;
  }
  
  .comment-send-button {
    margin-top: -42px;
    align-self: flex-end; 
    padding: 10px 15px;
    border: none;
    background-color: lightgray; 
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .comment-send-button span {
    margin-right: 5px; 
  }
  
  .comment-cancel-button {
    margin-top: -40px;
    margin-right: 60px;
    align-self: flex-end; 
    padding: 10px 15px;
    border: none;
    background-color: lightgray; 
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .comment-cancel-button span {
    margin-right: 5px; 
  }
  
