.profile-main{  
  width: 100%;
   height: 100%;
  background-color: #DDDDDD; 
}
.profil {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -8px; 
    margin-left: 60px;
    margin-right: -5px;
    margin-bottom: 60px;
    padding-bottom: 40px; 
  }
  
  .profil-container { 
    width: 100%;
    position: relative;    
  }
  
  .cover-img {
    width: 100%;
    margin-right: -12px; 
    position: relative;
  }
  
  .cover-img img {
    width: 100%;
    max-height: 160px; 
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }  
  
  .profil-user{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-top: 142px; 
    background-color: white;
  }
  .profil-info{
    width: 70%;
  }
  .profilePic {
    width: 130px;
    position: relative;
    margin-top: -75px;
    margin-left: 30px;
    text-align: flex-start; 
  }
  
  .profilePic img {
    width: 140px;
    height: 140px;
    border: 1px white solid;
    border-radius: 10px; 
    object-fit: cover;
  }
  .profil-bio{
    height: 110px;
    margin-top: -105px;
    margin-left: 190px; 
  }
  .profil-bio h2 {
    font-family: "Inter";
    font-weight: bold;
    font-size: 28px;
  }
  
  .profil-bio h4{
    margin-top: -13px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
  }
  .profiluser-button {
    margin-top: 10px; 
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: end;
    text-align: center;
    text-decoration: none;
    gap: 5px;
  }
  .edit-profile-button{ 
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: black;
    cursor: pointer;
    gap: 8px;
  }
  .edit-profile-button:hover{
    border-radius: 11px;
    background-color: lightgray;
  }
  .follow-button{ 
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: black;
    cursor: pointer;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  .follow-button:hover{
    border-radius: 11px;
    background-color: lightgray;
  }
  .add-button{
    padding: 5px 12px; 
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .add-button:hover{
    border-radius: 50px;
    background-color: lightgray;
  }
  .add-button span{
    margin-left: 8px;
    font-family: "Inter";
    font-size: 15px;
  }
  
  .post-profil { 
    margin-right: -1px;
    margin-top: -1px;
    height: auto;
    font-family: "Inter";
  }
  .avatar-post{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 15px;
  }
  .post-avatar-profil{
    display: flex;
    flex-direction: row;
  }
  .post-profil-info{
    display: flex;
    flex-direction: column;
    width: 530px;
    margin-top: 5px;
    margin-left: 15px;
  }
  .post-profil-info h2{
    font-weight: bold;
    font-size: 17px;
  }
  .post-profil-info h3{
    font-weight: normal;
    font-size: 15px;
    margin-top: -15px;
  }
  
  .button-post-profil-pinned{
    display: flex;
    margin-left: 130px;
    margin-top: 10px;
  }
  .button-post-profil{
    display: flex;
    margin-left: 245px;
    margin-top: 10px;
  }
  .pinned-post{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
  }
  .pinned-post h5{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .posts-profil-content{
    margin-top: -10px;
  }
  .posts-profil-content h4{
    font-weight: normal;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 25px;
  }
  .posts-profil-img{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    margin-left: 20px; 
  }
  .img-button{
    background-color: transparent;
    padding: 0;
  }
  .img-button:hover{
    border-radius: 0;
    background-color: transparent;
  }
  .img-button img:hover{
    border-radius: 0;
    filter: brightness(0.7);
  }
  .img-button-profile{
    background-color: transparent;
  }
  .img-button-profile:hover{
    background-color: transparent;
  }
  .img-button-profile:hover img {
    filter: brightness(0.7);
  }
  .image-popup-profil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .popup-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    border-radius: 10px;
  }
  
  .popup-img-banner {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: contain;
  }

  .popup-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    border-radius: 10px;
  }
  
  .popup-img-profil {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: contain;
  }


  .button-posts-profil{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  .button-posts {
    align-items: center;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
  }
  .button-posts:hover .icon {
    cursor: pointer;
  }
  .button-posts h3{
    font-size: 15px;
    font-weight: bold;
  }
  .rightProfileBar{ 
    width: 450px;   
    height: 100%; 
    background-color: white;
  }
  .search-profile{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .input-profile{
    width: 300px; 
    border-radius: 20px;
    display: flex;
    text-indent: 10px;
  }
  .intro{
    margin-left: 25px;
    font-family: "Inter";
  }
  .intro h2{
    font-size: 25px;
  }
  .intro h3{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: normal;
  }
  .intro span{
    font-size: 15px;
    font-weight: bold;
  }
  .intro h4{
    font-size: 15px;
    font-weight: normal;
    margin-right: 30px;
  }
  .friends-rec {
    height: 100%;
    display: flex; 
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    margin-left: 25px;
    margin-bottom: 20px; 
    scrollbar-width: thin;
    scrollbar-color: #999999 #ffffff; 
    }
    
    .friends-rec::-webkit-scrollbar {
      width: 10px;
    }
    
    .friends-rec::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 10px;
    }
    
    .friends-rec::-webkit-scrollbar-thumb:hover {
      background-color: transparent;
    }
    
    .friends-rec::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
    }
  .friend-profil{
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px; 
  border-radius: 8px; 
  }
.friend-avatar-profil{
    margin-top: 10px;
    margin-left: 15px;
  }
  .avatar-rightBarprofile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .friend-info-profil {
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-top: -50px;
    margin-left: 75px;
    margin-bottom: 10px; 
  }
  .friend-info-profil h3{
    font-family: "Inter";
    font-size: 12px;
    font-size: bold;
    margin-top: 8px;
    margin-bottom: -8px;
  }
  .friend-info-profil h4{
    font-family: "Inter";
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
  }
  .button-add{
    display: flex;
    justify-content: center;
    height: 35px;
    width: 35px; 
    border-radius: 50%;
    margin-top: -45px;
    margin-left: 160px;
  }
  .button-add:hover{
    border-radius: 50%;
    background-color: lightgray;
  } 

  
.rightBarUserProfile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin-left: 10px;
  margin-bottom: 6px;    
}
.LinkUserProfile{
  padding: 10px;
}
.LinkUserProfile:hover{ 
  border-radius: 10px;
  background-color: #5C5C5C;
}
.rightBarUserInfoProfile {
  width: 60px;
  display: flex;
  align-items: center;
  margin-top: -5px;
}
.rightBarImgProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.rightBarImgProfile:hover{
filter: brightness(0.7);
}
.statusDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: -15px;
  z-index: 10;
}

.greenDot {
  background-color: rgb(2, 255, 2);
}

.grayDot {
  background-color: gray;
} 
.rightBarNameProfile {  
  font-size: 16px;
  font-weight: bold;
  font-family: "Inter" ;   
  color: black;
}
.link-rightbarProfile{
text-decoration: none;
}
.rightBarButtonProfile{
  display: flex;
  padding: 8px 16px;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 15px;
}
.rightBarButtonProfile:hover{
color: white;
background-color: rgb(54, 54, 54);
border-radius: 7px;
}


  /*css posts profile*/

  .posts-profile{
    width: 100%; 
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px; 
    overflow-x: hidden; 
  }
  .posts-profile .post-container{ 
    margin-bottom: 0px; 
    margin-left: -32px; 
  }
  .posts-profile .post{
    width: 97%; 
    margin-left: 25px; 
  }
  .posts-profile .user{ 
    margin-left: 0px;
  }
  .posts-profile .post-img-container{
    margin-top: -10px;
  }
  .posts-profile .post-content{
    margin-top: -15px;
  }

  .posts-profile .commento{ 
    width: 100%;
  }
 