.sort-post{
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    gap: 5px;
    border: 1px black solid;
    border-radius: 8px;
}
.sort-post:hover{
    border-radius: 10px;
    background-color: lightgray;
}