.search-container{ 
  width: 100%;
  margin-right: 3%;
}
.search-bar-container {
    display: flex;
    align-items: center;  
    width: 100%;
    height: 40px;
    border-radius: 8px; 
    overflow: hidden;
    background-color: white;
    margin-top: -5px;
    margin-left: 15px;
  }
  
  .search-bar-input {
    flex: 1;
    padding: 8px 12px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
  }
  .searchbar-button{
    margin-left: 10px;
  }
  .clear-search-button {
    display: flex;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 3px;
  }

  .clear-search-button:hover {
    display: flex;
    background-color: lightgray; 
    border-radius: 10px;
  }
 