.rightBar{ 
    background-color: #ffffff;
    float: right;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 15px;
    margin-right: 10px;
    top: 41%;  
    right: 5px;
    position: fixed; 
    border-radius: 10px;
    overflow-y: visible;
    z-index: 99;
}
.rightBar h2{
    display: flex; 
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Inter" ;
    font-weight: bold;
}

.rightBarContainer {   
    margin-top: 5px;
    margin-right: -8px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 15px; 
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #999999 #ffffff;
  }
  
  .rightBarContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .rightBarContainer::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
  }
  
  .rightBarContainer::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
  }
  
  .rightBarContainer::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
  }

.rightBarItem{
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px; 
    border-radius: 10px;
}
.rightBarUser {
    width: 210px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 6px;
    background-color: white;
}
.rightBarUserInfo {
    width: 60px;
    display: flex;
    align-items: center;
    margin-top: -5px;
}
.rightBarImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.statusDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: -15px;
  }
  
  .greenDot {
    background-color: rgb(2, 255, 2);
  }
  
  .grayDot {
    background-color: gray;
  }
.rightBarUserStatus{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "Inter" ;
}
.rightBarUserStatus2{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  font-family: "Inter" ;
}
.rightBarName {
    font-size: 16px;
    font-weight: bold;
    font-family: "Inter" ;
    background-color: white;
}
.link-rightbar{
  text-decoration: none;
}
.rightBarButton{
    display: flex;
    padding: 8px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 15px;
}
.rightBarButton:hover{
  color: white;
  background-color: rgb(54, 54, 54);
  border-radius: 7px;
}



/*code buat responsive width*/
 
@media screen and (max-width: 1500px) {
  .rightBar {
    width: 325px; 
  } 
}
@media screen and (max-width: 1480px) {
  .rightBar {
    width: 320px; 
  } 
}
@media screen and (max-width: 1460px) {
  .rightBar {
    width: 315px; 
  } 
}
@media screen and (max-width: 1440px) {
  .rightBar {
    width: 310px; 
  } 
}
@media screen and (max-width: 1420px) {
  .rightBar {
    width: 305px; 
  } 
}
@media screen and (max-width: 1400px) {
  .rightBar {
    width: 302px; 
  } 
}
@media screen and (max-width: 1380px) {
  .rightBar {
    width: 300px; 
  } 
}
@media screen and (max-width: 1360px) {
  .rightBar {
    width: 295px; 
  } 
}
@media screen and (max-width: 1340px) {
  .rightBar {
    width: 295px; 
  } 
}
@media screen and (max-width: 1320px) {
  .rightBar {
    width: 295px; 
  } 
}
@media screen and (max-width: 1300px) {
  .rightBar {
    width: 280px; 
  } 
}
@media screen and (max-width: 1260px) {
  .rightBar {
    width: 281px; 
  } 
}
@media screen and (max-width: 1245px) {
  .rightBar {
    width: 275px; 
  } 
}
@media screen and (max-width: 1220px) {
  .rightBar {
    width: 275px; 
  } 
}
@media screen and (max-width: 1200px) {
  .rightBar {
    width: 270px; 
  } 
}
@media screen and (max-width: 1185px) {
  .rightBar {
    width: 270px; 
  } 
}
@media screen and (max-width: 1160px) {
  .rightBar {
    width: 270px; 
  } 
}
@media screen and (max-width: 1145px) {
  .rightBar {
    width: 265px; 
  } 
}
@media screen and (max-width: 1125px) {
  .rightBar {
    width: 260px; 
  } 
}
@media screen and (max-width: 1105px) {
  .rightBar {
    width: 255px; 
  } 
}
@media screen and (max-width: 1085px) {
  .rightBar {
    width: 250px; 
  } 
}
@media screen and (max-width: 1065px) {
  .rightBar {
    width: 245px; 
  } 
}
@media screen and (max-width: 1045px) {
  .rightBar {
    width: 240px; 
  } 
}
@media screen and (max-width: 1025px) {
  .rightBar {
    width: 235px; 
  } 
}
@media screen and (max-width: 1005px) {
  .rightBar {
    width: 225px; 
  } 
}
@media screen and (max-width: 985px) {
  .rightBar {
    width: 225px; 
  } 
}
@media screen and (max-width: 965px) {
  .rightBar {
    width: 215px; 
  } 
}
@media screen and (max-width: 945px) {
  .rightBar {
    width: 210px; 
  } 
}
@media screen and (max-width: 925px) {
  .rightBar {
    width: 210px; 
  } 
}


@media screen and (max-width: 1340px) {
  .rightBar {
    padding: 8px;
  }
}
@media screen and (max-width: 1320px) {
  .rightBar {
    padding: 5px;
  }
}
@media screen and (max-width: 1300px) { 
  .rightBarButton{
    margin-left: 15px;
  }
}
@media screen and (max-width: 1250px) { 
  .rightBarButton{
    margin-left: 5px;
  }
}


/*code buat responsive height*/

@media screen and (max-height: 1080px) {
  .rightBar {
    height: 550px; 
  } 
  .rightBarContainer{
    height: 475px;
  }
} 
@media screen and (max-height: 1010px) {
  .rightBar {
    height: 490px; 
  } 
  .rightBarContainer{
    height: 410px;
  }
} 
@media screen and (max-height: 990px) {
  .rightBar {
    height: 480px; 
  } 
  .rightBarContainer{
    height: 405px;
  }
} 
@media screen and (max-height: 970px) {
  .rightBar {
    height: 475px; 
  } 
  .rightBarContainer{
    height: 395px;
  }
} 
@media screen and (max-height: 950px) {
  .rightBar {
    height: 465px; 
  } 
  .rightBarContainer{
    height: 385px;
  }
} 
@media screen and (max-height: 930px) {
  .rightBar {
    height: 455px; 
  } 
  .rightBarContainer{
    height: 375px;
  }
} 
@media screen and (max-height: 910px) {
  .rightBar {
    height: 440px; 
  } 
  .rightBarContainer{
    height: 365px;
  }
} 
@media screen and (max-height: 890px) {
  .rightBar {
    height: 430px; 
  } 
  .rightBarContainer{
    height: 355px;
  }
} 
@media screen and (max-height: 870px) {
  .rightBar {
    height: 415px; 
  } 
  .rightBarContainer{
    height: 340px;
  }
} 
@media screen and (max-height: 850px) {
  .rightBar {
    height: 405px; 
  } 
  .rightBarContainer{
    height: 330px;
  }
} 
@media screen and (max-height: 830px) {
  .rightBar {
    height: 390px; 
  } 
  .rightBarContainer{
    height: 315px;
  }
} 
@media screen and (max-height: 810px) {
  .rightBar {
    height: 380px; 
  } 
  .rightBarContainer{
    height: 305px;
  }
} 
@media screen and (max-height: 790px) {
  .rightBar {
    height: 370px; 
  } 
  .rightBarContainer{
    height: 295px;
  }
} 
@media screen and (max-height: 770px) {
  .rightBar {
    height: 360px; 
  } 
  .rightBarContainer{
    height: 285px;
  }
} 
@media screen and (max-height: 750px) {
  .rightBar {
    height: 350px; 
  } 
  .rightBarContainer{
    height: 275px;
  }
} 
@media screen and (max-height: 730px) {
  .rightBar {
    height: 340px; 
  } 
  .rightBarContainer{
    height: 265px;
  }
} 
@media screen and (max-height: 710px) {
  .rightBar {
    height: 330px; 
  } 
  .rightBarContainer{
    height: 255px;
  }
} 
@media screen and (max-height: 690px) {
  .rightBar {
    height: 315px; 
  } 
  .rightBarContainer{
    height: 240px;
  }
} 
@media screen and (max-height: 670px) {
  .rightBar {
    height: 305px; 
  } 
  .rightBarContainer{
    height: 230px;
  }
} 
@media screen and (max-height: 650px) {
  .rightBar {
    height: 295px; 
  } 
  .rightBarContainer{
    height: 220px;
  }
} 
@media screen and (max-height: 630px) {
  .rightBar {
    height: 280px; 
  } 
  .rightBarContainer{
    height: 205px;
  }
} 
@media screen and (max-height: 610px) {
  .rightBar {
    height: 270px; 
  } 
  .rightBarContainer{
    height: 195px;
  } 
} 
@media screen and (max-height: 590px) {
  .rightBar {
    height: 260px; 
  } 
  .rightBarContainer{
    height: 185px;
  }
} 
@media screen and (max-height: 570px) {
  .rightBar {
    height: 245px; 
  } 
  .rightBarContainer{
    height: 170px;
  }
} 
@media screen and (max-height: 550px) {
  .rightBar {
    height: 230px; 
  } 
  .rightBarContainer{
    height: 160px;
  }
} 
@media screen and (max-height: 530px) {
  .rightBar {
    height: 220px; 
  } 
  .rightBarContainer{
    height: 150px;
  }
} 
@media screen and (max-height: 510px) {
  .rightBar {
    height: 215px; 
  } 
  .rightBarContainer{
    height: 145px;
  }
} 