.rightBar{
    width: 22%;  
    background-color: #ffffff;
    float: right;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 15px;
    margin-right: 10px;
    top: 41%;  
    right: 5px;
    position: fixed; 
    border-radius: 10px;
    overflow-y: visible;
    z-index: 99;
}
.rightBar h2{
    display: flex; 
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Inter" ;
    font-weight: bold;
}

.rightBarContainer {   
    margin-top: 5px;
    margin-right: -8px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 15px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #999999 #ffffff;
  }
  
  .rightBarContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .rightBarContainer::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
  }
  
  .rightBarContainer::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
  }
  
  .rightBarContainer::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
  }

.rightBarItem{
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px; 
    border-radius: 10px;
}
.rightBarUser {
    width: 210px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 6px;
    background-color: white;
}
.rightBarUserInfo {
    width: 60px;
    display: flex;
    align-items: center;
    margin-top: -5px;
}
.rightBarImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.statusDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: -15px;
  }
  
  .greenDot {
    background-color: rgb(2, 255, 2);
  }
  
  .grayDot {
    background-color: gray;
  }
.rightBarUserStatus{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "Inter" ;
}
.rightBarUserStatus2{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  font-family: "Inter" ;
}
.rightBarName {
    font-size: 16px;
    font-weight: bold;
    font-family: "Inter" ;
    background-color: white;
}
.link-rightbar{
  text-decoration: none;
}
.rightBarButton{
    display: flex;
    padding: 8px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 15px;
}
.rightBarButton:hover{
  color: white;
  background-color: rgb(54, 54, 54);
  border-radius: 7px;
}


/*code buat responsive width*/

@media screen and (max-width: 1340px) {
  .rightBar {
    padding: 8px;
  }
}
@media screen and (max-width: 1320px) {
  .rightBar {
    padding: 5px;
  }
}
@media screen and (max-width: 1300px) {
  .rightBar {
    padding: 5px;
    width: 290px;
  }
  .rightBarButton{
    margin-left: 15px;
  }
}
@media screen and (max-width: 1250px) {
  .rightBar {
    width: 280px;
  }
  .rightBarButton{
    margin-left: 5px;
  }
}

/*code buat responsive height*/

@media screen and (max-height: 1110px) {
  .rightBar {
    height: 510px; 
  } 
  .rightBarContainer {
    height: 440px; 
  } 
}
@media screen and (max-height: 1090px) {
  .rightBar {
    height: 500px; 
  } 
  .rightBarContainer {
    height: 430px; 
  } 
}
@media screen and (max-height: 1070px) {
  .rightBar {
    height: 490px; 
  } 
  .rightBarContainer {
    height: 420px; 
  } 
}
@media screen and (max-height: 1050px) {
  .rightBar {
    height: 480px; 
  } 
  .rightBarContainer {
    height: 410px; 
  } 
}
@media screen and (max-height: 1030px) {
  .rightBar {
    height: 470px; 
  } 
  .rightBarContainer {
    height: 400px; 
  } 
}
@media screen and (max-height: 1010px) {
  .rightBar {
    height: 460px; 
  } 
  .rightBarContainer {
    height: 390px; 
  } 
}
@media screen and (max-height: 990px) {
  .rightBar {
    height: 450px; 
  } 
  .rightBarContainer {
    height: 380px; 
  } 
}
@media screen and (max-height: 970px) {
  .rightBar {
    height: 440px; 
  } 
  .rightBarContainer {
    height: 370px; 
  } 
}
@media screen and (max-height: 950px) {
  .rightBar {
    height: 430px; 
  } 
  .rightBarContainer {
    height: 360px; 
  } 
}
@media screen and (max-height: 930px) {
  .rightBar {
    height: 420px; 
  } 
  .rightBarContainer {
    height: 350px; 
  } 
}
@media screen and (max-height: 910px) {
  .rightBar {
    height: 410px; 
  } 
  .rightBarContainer {
    height: 340px; 
  } 
}
@media screen and (max-height: 890px) {
  .rightBar {
    height: 400px; 
  } 
  .rightBarContainer {
    height: 330px; 
  } 
}
@media screen and (max-height: 870px) {
  .rightBar {
    height: 390px; 
  } 
  .rightBarContainer {
    height: 320px; 
  } 
}
@media screen and (max-height: 850px) {
  .rightBar {
    height: 380px; 
  } 
  .rightBarContainer {
    height: 310px; 
  } 
}
@media screen and (max-height: 830px) {
  .rightBar {
    height: 370px; 
  } 
  .rightBarContainer {
    height: 300px; 
  } 
}
@media screen and (max-height: 810px) {
  .rightBar {
    height: 360px; 
  } 
  .rightBarContainer {
    height: 290px; 
  } 
}
@media screen and (max-height: 790px) {
  .rightBar {
    height: 350px; 
  } 
  .rightBarContainer {
    height: 280px; 
  } 
}
@media screen and (max-height: 770px) {
  .rightBar {
    height: 340px; 
  } 
  .rightBarContainer {
    height: 270px; 
  } 
}
@media screen and (max-height: 730px) {
  .rightBar {
    height: 330px; 
  } 
  .rightBarContainer {
    height: 260px; 
  } 
}
@media screen and (max-height: 710px) {
  .rightBar {
    height: 320px; 
  } 
  .rightBarContainer {
    height: 250px; 
  } 
}
@media screen and (max-height: 690px) {
  .rightBar {
    height: 310px; 
  } 
  .rightBarContainer {
    height: 240px; 
  } 
}
@media screen and (max-height: 670px) {
  .rightBar {
    height: 300px; 
  } 
  .rightBarContainer {
    height: 230px; 
  } 
}
@media screen and (max-height: 650px) {
  .rightBar {
    height: 290px; 
  } 
  .rightBarContainer {
    height: 220px; 
  } 
}
@media screen and (max-height: 630px) {
  .rightBar {
    height: 280px; 
  } 
  .rightBarContainer {
    height: 205px; 
  } 
}
@media screen and (max-height: 610px) {
  .rightBar {
    height: 270px; 
  } 
  .rightBarContainer {
    height: 195px; 
  } 
}
@media screen and (max-height: 590px) {
  .rightBar {
    height: 260px; 
  } 
  .rightBarContainer {
    height: 185px; 
  } 
}
@media screen and (max-height: 570px) {
  .rightBar {
    height: 250px; 
  } 
  .rightBarContainer {
    height: 175px; 
  } 
}
@media screen and (max-height: 550px) {
  .rightBar {
    height: 240px; 
  } 
  .rightBarContainer {
    height: 165px; 
  } 
}
@media screen and (max-height: 530px) {
  .rightBar {
    height: 230px; 
  } 
  .rightBarContainer {
    height: 155px; 
  } 
}
@media screen and (max-height: 510px) {
  .rightBar {
    height: 220px; 
  } 
  .rightBarContainer {
    height: 145px; 
  } 
}
@media screen and (max-height: 490px) {
  .rightBar {
    height: 210px; 
  } 
  .rightBarContainer {
    height: 135px; 
  } 
}
@media screen and (max-height: 470px) {
  .rightBar {
    height: 200px; 
  } 
  .rightBarContainer {
    height: 125px; 
  } 
}
@media screen and (max-height: 450px) {
  .rightBar {
    height: 190px; 
  } 
  .rightBarContainer {
    height: 115px; 
  } 
}
@media screen and (max-height: 430px) {
  .rightBar {
    height: 180px; 
  } 
  .rightBarContainer {
    height: 105px; 
  } 
}
@media screen and (max-height: 410px) {
  .rightBar {
    height: 170px; 
  } 
  .rightBarContainer {
    height: 95px; 
  } 
}
@media screen and (max-height: 390px) {
  .rightBar {
    height: 160px; 
  } 
  .rightBarContainer {
    height: 85px; 
  } 
}