
.main-notif{
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 10px;
    background-color: white;
}

/*buat leftbar inih*/
 
.main-notif .home-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
  }
  .main-notif .home-button-container2{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }
  
  .main-notif .home-button{   
    color: white;
  }
  .main-notif .home-button:hover{
    background-color: transparent;
  }
  
  .main-notif .notif-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
    background-color: #DDDDDD;
    border-radius: 35px 0px 0px 35px;
    margin-left: 50px;
  }
  .main-notif .notif-button-container2{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: black;  
    border-radius: 50%;
    margin-left: 10px;
  }
  .main-notif .notif-button{
    margin-top: 10px;
    margin-left: 2px;
    color: gold;
  }
  
  .main-notif .messages-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
  }
  .main-notif .messages-button-container2{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }
  .main-notif .messages-button{ 
    color: white;
  }
  .main-notif .messages-button:hover{
    background-color: transparent;
  }
  
  .main-notif .friends-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
  }
  .main-notif .friends-button-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }
  .main-notif .friends-button{
    color: white;
  }
   