.friendlist-main{
  background-color: white;
}
.friendlist-container{ 
}
.friendlist-container h2{
  font-size: 40px;
  font-family: "Inter";
  font-weight: 1000;
  margin-left: 120px;
}
.friendlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: -30px;
}

.button-info {
  color: white;
  border: 1px black solid;
  border-radius: 10px;
  padding: 3px 6px;
  margin-top: 40px;
  margin-right: 100px;
  cursor: pointer;
}
.button-info:hover{
  border-radius: 12px;
}

.friendlist {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 95px;
  margin-right: 90px;
  margin-bottom: 10px;
  overflow-y: auto;
}
.friendlist::-webkit-scrollbar {
  width: 8px;
}

.friendlist::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.friendlist::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}
.friendlist::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.friend {
  width: 550px; 
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px black solid;
  border-radius: 8px;
  box-shadow: 2px 4px 6px 1px rgb(182, 182, 182); 
}

.friend-cover{
  width: 550px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.friend-cover:hover{
  filter: brightness(0.7); 
  cursor: pointer;
}
.friend-avatar{
  position: absolute;
  margin-top: -40px;
  margin-left: 20px;
}
.friend-avatar:hover{
  filter: brightness(0.7); 
  cursor: pointer;
}

.friend-info-details {
  display: flex;
  flex-direction: column;
  align-items: top;
  margin-top: 30px;
  margin-left: 20px;
}
.friend-info-details h3{
  font-family: "Inter";
  font-size: 20px;
  font-size: bold;
  margin-top: 8px;
  margin-bottom: -8px;
} 
.friend-follower{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px; 
  margin-top: -20px;
}
.friend-follower h3{
  font-family: "Inter";
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.friend-follower h4{
  font-family: "Inter";
  font-size: 15px; 
  font-weight: normal;
  margin-right: 10px;
}
.friend-desc {
  flex: 1; 
  margin-top: -20px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
}

.button-popup{
  justify-content: flex-end;
  width: 30px; 
  margin-top: -20px;
  margin-left: 190px;
  background-color: transparent;
}
.button-popup:hover{
  border-radius: 15px;
}
.popup{
  top: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  background-color: white;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-button:hover{
  border-radius: 10px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

 