.login-containers {
  display: flex;
  justify-content: flex-end; 
  height: 95vh;
  align-items: center;
  background-color: #ffffff;
  margin-right: 20vh;
}

.login-forms {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 500px;
}
.login-forms h3{
  margin-top: -5px;
  font-size: 30px; 
  font-family: "Inter", sans-serif;

}

.form-groups {
  margin-bottom: 20px;
  margin-top: -10px;
}
.form-groups label{
  margin-left: -150px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.show-password-button {
  margin-top: -31px;
  margin-right: -280px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 2px;
}
.show-password-button:hover {
  border-radius: 25px;
}
.forgot-password-button {
  margin-top: -55px;
  margin-right: -203px;
  margin-bottom: -10px;
  background-color: transparent;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 2px;
}
.forgot-password-button:hover{
  margin-top: -56px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
}

.input{
  border-radius: 8px;
  border: 1px black solid;
}

.checkbox-container {
  margin-right: 43px;
  margin-top: -3px;
  display: flex;
  align-items: center;
}

.checkbox-input {
  border: 1px black solid;
  appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox-input:checked {
  background-color: #ffffff;
  border: 1px black solid;
}
.checkbox-input:checked::before {
  content: '\25CF'; 
  position: fixed;
  margin-top: -17px;
  margin-left: -8px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.checkbox-label {
  cursor: pointer;
}
.checkbox-label h4{
  font-size: 14px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}

.login {
  width: 315px;
  height: 40px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.login:hover {
  background-color: lightgray;
  color: #000000;
  border-radius: 10px;
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px;
  margin-top: -10px;
  margin-left: -5px;
  margin-bottom: 0px;
  width: 310px;
}

.divider-line {
  flex: 1;
  height: 2px;
  background-color: gray;
}

.divider-text {
  margin: 0 10px;
  color: black;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.login-else {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 315px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px black solid;
  padding: 7px 20px;
  margin-left: -5px;
  margin-bottom: -10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.login-else-icon {
  margin-right: 20px;
}
.login-else h5{
  margin: -10px;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.login-else:hover {
  background-color: lightgray;
  color: #000000;
  border-radius: 10px;
}

.signup p{
  margin-right: -10px;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
.button-signup {
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.button-signup:hover {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
