.upload {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-left: 90px;
  padding: 10px;
  height: auto;
  width: 900px;
  max-height: 490px;
  border-radius: 20px 20px 0px 0px;
  border: 1px black solid;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.input-post {
  flex: 1;
  padding-right: 10px;
}

.input-post textarea {
  height: 60px;
  width: 96%;
  resize: none;
  margin-top: 5px;
  margin-left: 10px;
  border: 1px black solid ;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}
.input-post textarea::-webkit-scrollbar {
  width: 8px;
}

.input-post textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.input-post textarea::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
.input-post textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  color: #999;
  transition: all 0.2s ease;
}

.input-post textarea:focus+.placeholder,
.input-post textarea:not(:placeholder-shown)+.placeholder {
  transform: translateY(-26px) scale(0.8);
  color: #666;
}

.button-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.uploadItem-row {
  display: flex;
  flex-direction: row;
}

.uploadButton {
  width: 85%;
  border: none;
  border-radius: 7px;
  margin-top: -5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

.uploadButton:hover {
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
}

.uploadItem {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.uploadItem:hover{
  background-color: lightgray;
  border-radius: 10px;
}

.uploadItem-popup{
  position: absolute;
  bottom: 100px;
  right: 0px;
  max-width: 350px;
  border-radius: 10px;
  background-color: rgb(173, 173, 173);
  transition: background-color 0.2s;
  cursor: pointer;
}
.uploadItem-popup:hover{
  background-color: gray;
  border-radius: 11px;
}

.selected-file-container{
  position: absolute;
  bottom: 115px;
  right: 20px;
}
.selected-file-info{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  border: 1px black solid;
}
.selected-image{
  max-width: 300px;
  max-height: 300px;
  border-radius: 9px 9px 5px 5px;
  border-bottom: 1px black solid;
}
.file-name{
  max-width: 260px; 
  margin-left: 5px;
  margin-right: 30px;
  padding: 2px;
  word-wrap: break-word;
}
.file-name::-webkit-scrollbar {
  height: 8px;
  margin-bottom: 10px;
}

.file-name::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.file-name::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
.file-name::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.clear-file-button{
  display: flex;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  padding: 3px 4px;
  background-color: rgb(0, 0, 0, 0.5);
}
.clear-file-button:hover{  
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translate(0, -1px) scale(1.0);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}
.file{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0px;
}