.upload {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  bottom: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 2%;
  padding: 10px;
  max-height: 490px;
  border-radius: 10px; 
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 199;
}

.input-post {
  width: 100%;
  max-width: 100%;  
  display: flex;  
}

.input-post textarea {
  width: 100%;
  max-width: 100%;  
  min-height: 25px;
  max-height: 80px;
  resize: none;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #E4E4E4; 
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  overflow-y: auto;
}

.input-post textarea:focus{  
  outline: 2px lightgray solid;
}
.input-post textarea::-webkit-scrollbar {
  width: 8px;
}

.input-post textarea::-webkit-scrollbar-track {
  background-color: transparent;
}

.input-post textarea::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
.input-post textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  color: #999;
  transition: all 0.2s ease;
}

.input-post textarea:focus+.placeholder,
.input-post textarea:not(:placeholder-shown)+.placeholder {
  transform: translateY(-26px) scale(0.8);
  color: #666;
}

.button-upload {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;  
  margin-left: 15px;
  margin-right: 15px;  
}

.uploadItem-row {
  display: flex;
  flex-direction: row; 
  margin-left: -15px;
}

.uploadButton { 
  border: none;
  border-radius: 7px;  
  padding: 8px 30px;
  margin-right: 1%;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: black;
  color: white;
  font-family: "Inter";
  font-size: 13px;
}

.uploadButton:hover {
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
}

.uploadItem {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;  
  margin-right: 8px;
}
.uploadItem:hover{
  background-color: transparent;
  border-radius: 10px;
}

.uploadItem-popup{
  position: absolute;
  bottom: 100px;
  right: 0px;
  max-width: 350px;
  border-radius: 10px;
  background-color: rgb(173, 173, 173);
  transition: background-color 0.2s;
  cursor: pointer;
}
.uploadItem-popup:hover{
  background-color: gray;
  border-radius: 11px;
}

.selected-file-container{
  position: absolute; 
  top: 70px;
  right: 150px; 
  z-index: 200;
}
.selected-file-info{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Inter";
  border: 1px black solid;
}
.selected-image{
  max-width: 300px;
  max-height: 300px;
  border-radius: 9px 9px 5px 5px;
  border-bottom: 1px black solid;
}
.file-name{
  max-width: 260px; 
  margin-left: 5px;
  margin-right: 30px;
  padding: 2px;
  word-wrap: break-word;
}
.file-name::-webkit-scrollbar {
  height: 8px;
  margin-bottom: 10px;
}

.file-name::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.file-name::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
.file-name::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.clear-file-button{
  display: flex;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  padding: 3px 4px;
  background-color: rgb(0, 0, 0, 0.5);
}
.clear-file-button:hover{  
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translate(0, -1px) scale(1.0);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}
.file{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0px;
}

.recording-voice{
  display: flex;
  align-items: center;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}
.recording-voice p{
  font-size: 15px;
  font-weight: bold;
}
.recording-voice span{
  margin-left: 5px;
}

.recording-voice p,
.recording-voice span {
  margin: 0;
  padding-left: 4px;  
}
 
.audio-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;   
}
.custom-audio-buttons {
  display: flex;
  align-items: center;
} 
.custom-audio-buttons button:hover { 
  background-color: transparent;
}
.play-pause-button{
  background-color: transparent;
  color: black;
}
.duration-slider{
  margin-top: -8px;
}
.duration-slider input[type="range"] {
  background: #ccc;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  width: 300px;
  height: 8px;
  border-radius: 5px;
  outline: none;
  position: relative;
}

.duration-slider input[type="range"]::-webkit-slider-thumb {
  background: #000;
  border: 1px solid #000;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.duration-slider input[type="range"]::before {
  content: "";
  height: 8px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: #000;  
  width: var(--value);  
}

.duration-slider input[type="range"]:focus::before {
  outline: none;
}

.duration-slider input[type="range"]::-webkit-slider-thumb:active::before,
.duration-slider input[type="range"]:hover::before {
  background: #000;  
}

.duration-slider input[type="range"]::-webkit-slider-thumb:active::before {
  background: #000;  
}

.time-display{
  font-family: "Inter";
  font-weight: bold;
  font-size: 15px;
  margin-top: -7px;
  margin-left: 10px;
  background-color: transparent;
  color: black;
}
.mute-button{
  margin-left: 5px;
  background-color: transparent;
  color: black;
}
.close-audio{
  background-color: transparent;  
  border: 2px red solid;
  border-radius: 8px;
  padding: 0px;
}
.close-audio:hover{
  border-radius: 8px;
}
.close-audio svg{
  color: red;
  margin-bottom: -2px;
}
.restart-recording{
  background-color: transparent; 
  border: 2px black solid;
  border-radius: 8px;
  padding: 3px;
  margin-left: 5px;
}
.restart-recording:hover{
  border-radius: 8px;
}
.restart-recording svg{
  color: black;
  margin-bottom: -2px;
}