.comments{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: auto;
  width: 896px;
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aaa #ddd; 
  margin-left: -10px;
  margin-bottom: 15px;
  border-top: 1px black solid;
}

.comments::-webkit-scrollbar {
  width: 8px; 
}

.comments::-webkit-scrollbar-thumb {
  background-color: #aaa; 
  border-radius: 10px;
}

.comments::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px;
}

.write{
  position: sticky;
  top: -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -1px;
  background-color: whitesmoke;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}
.write img {
  margin-right: 10px; 
}
.comments-pic-write {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.input-comment{
  display: flex;
  width: 69%;
  height: 15px;
  padding: 15px;
  border: 1px black solid;
  border-radius: 10px;
}
.input-comment::placeholder{
  font-size: 15px;
  color: black;
}
.uploadItem-comment-row{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
.uploadItem-comment {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.uploadItem-comment:hover{
  background-color: lightgray;
  border-radius: 10px;
}
.button-comment{
  border: none;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: -5px;
  margin-right: 20px;
}
.comment{
  margin-top: -2px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px black solid;
  border-bottom: none;
  width: 100%;
}
.comments-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 40px;
}
.comment-info{
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 8px;
  width: 460px;
}
.comment-info span{
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-top: 13px;
  margin-left: -5px;
}
.comment-info p{
  margin-top: 45px;
  margin-left: -65px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.comment-info h3{
  flex: 1;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 1px;
  margin-left: -5px;
}
.button-comment-desc{
  width: 30px;
  height: 30px;
  margin-top: -50px;
  margin-left: 720px;
}
.button-comment-desc:hover{
  border-radius: 10px;
  background-color: lightgray;
}

.info-comment{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: -70px;
  gap: 90px;
}
.item-comment{
  display: flex;
  align-items: center;
  gap: 5px;
}
.item-comment:hover .icon {
  cursor: pointer;
}
.item-comment h3{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

/*code buat responsive*/

@media screen and (max-width: 1340px) {
  .comments {
    width: 881px; 
    margin-left: -9px;
  }
  .button-comment-desc{
    margin-left: 700px;
  }
}
@media screen and (max-width: 1320px) {
  .comments {
    width: 871px; 
  }
  .button-comment-desc{
    margin-left: 680px;
  }
}
@media screen and (max-width: 1300px) {
  .comments {
    width: 851px; 
  }
  .button-comment-desc{
    margin-left: 660px;
  }
}
@media screen and (max-width: 1260px) {
  .comments {
    width: 831px; 
  }
  .button-comment-desc{
    margin-left: 640px;
  }
}
@media screen and (max-width: 1245px) {
  .comments {
    width: 811px; 
  }
  .button-comment-desc{
    margin-left: 620px;
  }
  .info-comment{
    gap: 80px;
  }
}
@media screen and (max-width: 1220px) {
  .comments {
    width: 791px; 
  }
  .button-comment-desc{
    margin-left: 600px;
  }
}
@media screen and (max-width: 1200px) {
  .comments {
    width: 781px; 
  }
  .button-comment-desc{
    margin-left: 580px;
  }
  .info-comment{
    gap: 75px;
  }
}
@media screen and (max-width: 1185px) {
  .comments {
    width: 751px; 
  }
  .button-comment-desc{
    margin-left: 560px;
  }
  .info-comment{
    gap: 70px;
  }
}
@media screen and (max-width: 1160px) {
  .comments {
    width: 736px; 
  }
  .button-comment-desc{
    margin-left: 540px;
  }
  .info-comment{
    gap: 65px;
  }
}
@media screen and (max-width: 1145px) {
  .comments {
    width: 716px; 
  }
  .button-comment-desc{
    margin-left: 520px;
  }
  .info-comment{
    gap: 60px;
  }
}
@media screen and (max-width: 1125px) {
  .comments {
    width: 696px; 
  }
  .button-comment-desc{
    margin-left: 500px;
  }
  .info-comment{
    gap: 55px;
  }
}
@media screen and (max-width: 1105px) {
  .comments {
    width: 676px; 
  }
  .button-comment-desc{
    margin-left: 480px;
  }
  .info-comment{
    gap: 50px;
  }
}
@media screen and (max-width: 1085px) {
  .comments {
    width: 656px; 
  }
  .button-comment-desc{
    margin-left: 460px;
  }
  .info-comment{
    gap: 45px;
  }
}
@media screen and (max-width: 1065px) {
  .comments {
    width: 636px; 
  }
  .button-comment-desc{
    margin-left: 440px;
  }
  .info-comment{
    gap: 40px;
  }
}
@media screen and (max-width: 1045px) {
  .comments {
    width: 601px; 
  }
  .button-comment-desc{
    margin-left: 420px;
  }
  .info-comment{
    gap: 35px;
  }
}