.comments{
}
.write{
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  border-bottom: 1px black solid;
}
.write1{
  position: sticky;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.write-pic{
  width: 800px;
}
.write img {
  margin-right: 10px; 
}
.comments-pic-write {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.input-comment{
  display: flex;
  width: 69%;
  height: 15px;
  padding: 15px;
  border-radius: 10px;
  border: 1px black solid;
}
.input-comment::placeholder{
  font-size: 15px;
  color: black;
}
.uploadItem-comment-row{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
.uploadItem-comment {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.uploadItem-comment:hover{
  background-color: lightgray;
  border-radius: 10px;
}
.selected-file-comment{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-left: 100px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.selected-image-comment{
  max-width: 150px;
  max-height: 100px;
  border-radius: 9px 9px 5px 5px;
  object-fit: contain; 
  border: 1px black solid;
}
.file-name-comment{
  margin-left: 5px;
  margin-right: 30px;
  margin-bottom: 8px;
  padding: 2px;
  word-wrap: break-word;
}
.file-name-comment::-webkit-scrollbar {
  height: 8px;
  margin-bottom: 10px;
}

.file-name-comment::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.file-name-comment::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
.file-name-comment::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.clear-file-button-comment{
  display: flex;
  position: absolute;
  left: 260px;
  border-radius: 50%;
  padding: 3px 4px;
  background-color: rgb(0, 0, 0, 0.5);
}
.clear-file-button-comment:hover{  
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translate(0, -1px) scale(1.0);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}
.button-comment{
  border: none;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: -5px;
  margin-right: 20px;
}
.comment{
  margin-top: 1px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border-bottom: 1px black solid;
}
.comments-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 40px;
}
.comment-info{
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 8px;
  width: 460px;
}
.comment-info span{
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-top: -53px;
  margin-left: 100px;
}

.comment-info h3{
  flex: 1;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 1px;
  margin-left: 100px;
}
.button-comment-desc{
  width: 30px;
  height: 30px;
  margin-top: -70px;
  margin-left: 850px;
}
.button-comment-desc:hover{
  border-radius: 10px;
  background-color: lightgray;
}
.comments-content{
  margin-top: 25px;
  margin-left: 50px;
}
.comments-content h4{
  font-size: 15px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  margin-top: -5px;
  margin-bottom: 10px;
}
.comments-image {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 10px;
  border: 1px black solid;
}
.img-button-comments {
  padding: 0;
  z-index: 1;
}
.img-button-comments:hover img {
  filter: brightness(0.7);
  z-index: 0;
}  

.popup-overlay-comments {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.popup-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  border-radius: 10px;
}

.popup-image-comments {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: contain;
}

.comment-info {
  position: relative;
}

.post-option-popup-other-comment,
.post-option-popup-self-comment {
  position: absolute;
  left: 700px; 
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.post-option-popup-other-comment {
  top: 0;
  width: 130px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border: 1px black solid;
  z-index: 1;
  border-radius: 8px;
  padding: 5px;
  padding-top: 2px;
  margin-right: 20px;
}
.post-option-popup-other-comment button:hover{
  background-color: lightgray;
  border-radius: 5px;
}
.post-option-popup-self-comment {
  top: 0;
  width: 130px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border: 1px black solid;
  z-index: 1;
  border-radius: 8px;
  padding: 5px;
  padding-top: 2px;
  margin-right: 20px;
}
.post-option-popup-self-comment button:hover{
  background-color: lightgray;
  border-radius: 5px;
}

.edit-comment{
  position: absolute;
  left: -290px;
  margin-top: -10px;
  padding: 10px;
  background-color: white;
  border: 1px black solid;
  border-radius: 10px;
}
.edit-comment-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-comment-warn{
  position: absolute;
  padding: 10px;
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
}
.edit-comment-warn p{
  font-size: 12px;
  margin-top: 10px;
  margin-right: 20px;
}
.close-warn-comment{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: -8px;
  margin-left: 172px;
  background-color: transparent;
}
.close-warn-comment:hover{
  width: 25px;
  height: 25px;
}
.info-comment{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: 40px;
  gap: 90px;
}
.item-comment{
  display: flex;
  align-items: center;
  gap: 5px;
}
.item-comment:hover .icon {
  cursor: pointer;
}
.item-comment h3{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}


/*Commento.css*/

.commento{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: auto;
  width: 895px;
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aaa #ddd; 
  margin-left: -10px;
  margin-bottom: 10px;
  border-top: 1px black solid;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.commento::-webkit-scrollbar {
  width: 8px; 
}

.commento::-webkit-scrollbar-thumb {
  background-color: #aaa; 
  border-radius: 10px;
}

.commento::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px;
}

/*code buat responsive*/

@media screen and (max-width: 1340px) {
  .write {
    width: 881px;
    margin-left: -10px;
  }
  .button-comment-desc{
    margin-left: 830px;
  }
  .commento{
    width: 881px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 680px;
  }
}
@media screen and (max-width: 1320px) {
  .write {   
    width: 870px; 
    margin-left: -9px;

  }
  .button-comment-desc{
    margin-left: 810px;
  }
  .commento{
    width: 870px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 660px;
  }
}
@media screen and (max-width: 1300px) {
  .write {
    width: 850px; 
  }
  .button-comment-desc{
    margin-left: 800px;
  }
  .commento{
    width: 850px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 650px;
  }
}
@media screen and (max-width: 1260px) {
  .write {
    width: 830px; 
  }
  .button-comment-desc{
    margin-left: 780px;
  }
  .commento{
    width: 830px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 630px;
  }
}
@media screen and (max-width: 1245px) {
  .write {
    width: 810px; 
  }
  .button-comment-desc{
    margin-left: 760px;
  }
  .info-comment{
    gap: 80px;
  }
  .commento{
    width: 810px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 610px;
  }
}
@media screen and (max-width: 1220px) {
  .write-pic{
    width: 700px;
  }
  .write {
    width: 790px; 
  }
  .button-comment-desc{
    margin-left: 740px;
  }
  .commento{
    width: 790px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 590px;
  }
}
@media screen and (max-width: 1200px) {
  .write {
    width: 780px; 
  }
  .button-comment-desc{
    margin-left: 730px;
  }
  .info-comment{
    gap: 75px;
  }
  .commento{
    width: 780px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 580px;
  }
}
@media screen and (max-width: 1185px) {
  .write {
    width: 750px; 
  }
  .button-comment-desc{
    margin-left: 700px;
  }
  .info-comment{
    gap: 70px;
  }
  .commento{
    width: 750px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 550px;
  }
}
@media screen and (max-width: 1160px) {
  .write {
    width: 735px; 
  }
  .button-comment-desc{
    margin-left: 685px;
  }
  .info-comment{
    gap: 65px;
  }
  .commento{
    width: 735px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 535px;
  }
}
@media screen and (max-width: 1145px) {
  .write {
    width: 715px; 
  }
  .button-comment-desc{
    margin-left: 665px;
  }
  .info-comment{
    gap: 60px;
  }
  .commento{
    width: 715px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 515px;
  }
}
@media screen and (max-width: 1125px) {
  .write-pic{
  width: 600px;
}
  .write {
    width: 695px; 
  }
  .button-comment-desc{
    margin-left: 645px;
  }
  .info-comment{
    gap: 55px;
  }
  .commento{
    width: 695px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 495px;
  }
}
@media screen and (max-width: 1105px) {
  
  .write {
    width: 675px; 
  }
  .button-comment-desc{
    margin-left: 625px;
  }
  .info-comment{
    gap: 50px;
  }
  .commento{
    width: 675px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 475px;
  }
}
@media screen and (max-width: 1085px) {
  .write {
    width: 655px; 
  }
  .button-comment-desc{
    margin-left: 605px;
  }
  .info-comment{
    gap: 45px;
  }
  .commento{
    width: 655px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 455px;
  }
}
@media screen and (max-width: 1065px) {
  .write {
    width: 635px; 
  }
  .button-comment-desc{
    margin-left: 585px;
  }
  .info-comment{
    gap: 40px;
  }
  .commento{
    width: 635px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 435px;
  }
}
@media screen and (max-width: 1045px) {
  .write-pic{
    width: 550px;
  }
  .write {
    width: 600px; 
  }
  .button-comment-desc{
    margin-left: 550px;
  }
  .info-comment{
    gap: 35px;
  }
  .commento{
    width: 600px;
  }
  .post-option-popup-other-comment,
  .post-option-popup-self-comment {
    left: 400px;
  }
}



