.app{   
    margin-top: -10px; 
    background-color: #DDDDDD;
    scrollbar-width: thin;
    scrollbar-color: #999999 #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .app::-webkit-scrollbar {
    width: 8px;
  }
  
  .app::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
  }
  
  .app::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
  }
  
  .app::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
  }
  
.home{
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-gap: 5px;
} 
  
.leftbar .home-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 60px;
  background-color: #DDDDDD;
  border-radius: 35px 0px 0px 35px;
  margin-left: 50px;
}
.leftbar .home-button-container2{
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: black;  
  border-radius: 50%;
  margin-left: 10px;
}

.leftbar .home-button{  
  margin-top: 5px;
  margin-left: 2px;
  color: gold;
}
.leftbar .home-button:hover{
  background-color: transparent;
}

.leftbar .notif-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 60px;
}
.leftbar .notif-button-container{
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}
.leftbar .notif-button{
  color: white;
}

.leftbar .messages-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 60px;
}
.leftbar .messages-button-container{
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}
.leftbar .messages-button{
  color: white;
}

.leftbar .friends-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 60px;
}
.leftbar .friends-button-container{
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}
.leftbar .friends-button{
  color: white;
} 

.topbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}
.topbar .link-fyp{
    background-color: white;
    color: black;
}
.topbar .link-following{
    background-color: black;
    color: white;
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  }

.home-content .posts{
    border: none;
}
.home-content .post{
    width: 98%;
}
.home-content .upload{  
}

.side-content{
    max-width: 250px;
}
.side-content h5{
  position: fixed; 
  text-align: center;
  width: 230px;
  right: 60px;
  bottom: -15px;
  font-size: 12px;
  font-family: "Inter" ;
  font-weight: bold;
}