.post-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: -20px;
  margin-bottom: 5px;
  width: 895px; 
}
.post {
  width: 875px;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  margin-left: 15px;
  margin-top: -15px;
  border: 1px black solid;
}
.container {
  padding: 20px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
  margin-left: -15px;
}
.user:focus {
  border-color: grey;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.userinfo {
  flex-direction: row;
  display: flex;
}
.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  margin-left: 70px;
}
.name {
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.date {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600; 
}
.opsi-post-button{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 835px;
}
.opsi-post-button:hover{
  background-color: lightgray;
  border-radius: 10px;
}
.delete-post-button{

}
.post-option-popup-other {
  top: 0;
  width: 130px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border: 1px black solid;
  z-index: 1;
  border-radius: 8px;
  padding: 5px;
  padding-top: 2px;
  margin-right: 20px;
}
.post-option-popup-other button:hover{
  background-color: lightgray;
  border-radius: 5px;
}
.post-option-popup-self {
  top: 0;
  width: 130px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border: 1px black solid;
  z-index: 1;
  border-radius: 8px;
  padding: 5px;
  padding-top: 2px;
  margin-right: 20px;
}
.post-option-popup-self button:hover{
  background-color: lightgray;
  border-radius: 5px;
}
.edit-post1{
  z-index: 200;
}
.edit-post2{
  z-index: 100;
}

.edit-post{
  position: absolute;
  left: 38%;
  padding: 10px;
  background-color: white;
  border: 1px black solid;
  border-radius: 10px;
}
.edit-post-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-top: -15px;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.post-img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: -8px;
  margin-bottom: -10px;
  border: 1px black solid;
}
.post-img:hover {
  border-radius: 15px;
}

.post-desc {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 3px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.info {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 25px;
}
.item {
  align-items: center;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
}
.item:hover .icon {
  cursor: pointer;
}

.post-img-container {
  margin-left: 10px;
}

.img-button {
  padding: 0;
  z-index: 1;
}
.img-button:hover img {
  filter: brightness(0.5);
  z-index: 0;
  border-radius: 10px;
}

.popup-overlay-post {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.popup-post {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-image-post {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}


  /*code buat responsive*/

  @media screen and (max-width: 1340px) {
    .post {
      width: 860px; 
    }
    .opsi-post-button{
      margin-left: 820px;
    }
  }
  @media screen and (max-width: 1320px) {
    .post {
      width: 850px; 
    }
    .opsi-post-button{
      margin-left: 810px;
    }
  }
  @media screen and (max-width: 1300px) {
    .post {
      width: 830px; 
    }
    .opsi-post-button{
      margin-left: 790px;
    }
  }
  @media screen and (max-width: 1260px) {
    .post {
      width: 810px; 
    }
    .opsi-post-button{
      margin-left: 770px;
    }
  }
  @media screen and (max-width: 1245px) {
    .post {
      width: 790px; 
    }
    .opsi-post-button{
      margin-left: 750px;
    }
  }
  @media screen and (max-width: 1220px) {
    .post {
      width: 770px; 
    }
    .opsi-post-button{
      margin-left: 730px;
    }
  }
  @media screen and (max-width: 1200px) {
    .post {
      width: 760px; 
    }
    .opsi-post-button{
      margin-left: 720px;
    }
  }
  @media screen and (max-width: 1185px) {
    .post {
      width: 730px; 
    }
    .opsi-post-button{
      margin-left: 690px;
    }
  }
  @media screen and (max-width: 1160px) {
    .post {
      width: 715px; 
    }
    .opsi-post-button{
      margin-left: 675px;
    }
  }
  @media screen and (max-width: 1145px) {
    .post {
      width: 695px; 
    }
    .opsi-post-button{
      margin-left: 655px;
    }
  }
  @media screen and (max-width: 1125px) {
    .post {
      width: 675px; 
    }
    .opsi-post-button{
      margin-left: 635px;
    }
  }
  @media screen and (max-width: 1105px) {
    .post {
      width: 655px; 
    }
    .opsi-post-button{
      margin-left: 615px;
    }
  }
  @media screen and (max-width: 1085px) {
    .post {
      width: 635px; 
    }
    .opsi-post-button{
      margin-left: 595px;
    }
  }
  @media screen and (max-width: 1065px) {
    .post {
      width: 615px; 
    }
    .opsi-post-button{
      margin-left: 575px;
    }
  }
  @media screen and (max-width: 1045px) {
    .post {
      width: 580px; 
    }
    .opsi-post-button{
      margin-left: 540px;
    }
  }