.main-messages { 
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: bold;
  background-color: white;
}

.message-friend-pages {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.message-friend-pages:hover {
  background-color: transparent;
}

.search-message-friend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.search-message-friend h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.searchbar-message-friend-button {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
.input-search-friend {
  height: 40px;
  padding-left: 30px;
  margin-bottom: 20px;
  border: 1px black solid;
  border-radius: 8px;
  display: flex;
  text-indent: 10px;
}

.message-chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 350;
  background-color: #f9f9f9;
}

.chat-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
  border: 1px #e0e0e0 solid;
  background-color: #dbdbdb;
}

.avatar-status-container {
  display: flex;
  align-items: center;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  margin-left: 15px;
}

.chat-status {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
}

.chat-status h2 {
  font-size: 18px;
  font-weight: bold;
}

.chat-status h3 {
  font-size: 16px;
  font-weight: normal;
  margin-top: -16px;
}

.chat-profile-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: 75px;
}

.chat-profile-button button {
  background-color: transparent;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 70px;
  gap: 10px;
  border-left: 1px #e0e0e0 solid;
  scrollbar-width: thin;
  scrollbar-color: #999999 #ffffff;
}

.chat::-webkit-scrollbar {
  width: 8px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.chat::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.chat-input {
  position: fixed;
  bottom: 0;
  left: 380px;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 20px;
}

.chat-input textarea {
  width: calc(100% - 185px);
  height: 30px;
  resize: none;
  margin-left: 25px;
  background-color: #dbdbdb;
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-top: 20px;
  font-size: 14px;
}
.chat-input textarea:focus {
  outline: 2px lightgray solid;
}
.chat-input textarea::-webkit-scrollbar {
  width: 8px;
}

.chat-input textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.chat-input textarea::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
.chat-input textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  color: #999;
  transition: all 0.2s ease;
}

.chat-input textarea:focus + .placeholder,
.chat-input textarea:not(:placeholder-shown) + .placeholder {
  transform: translateY(-26px) scale(0.8);
  color: #666;
}

.chat-input-button {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  z-index: 69;
  gap: 5px;
}
.chat-button {
  background-color: transparent;
  margin-left: 7px;
}
.chat-button:hover {
  background-color: #5c5c5c;
}

.post-chat {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: black;
}
.post-chat:hover {
  background-color: #777777;
}

.pick-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  width: auto;
  max-width: 1200px;
  border-left: 1px gray solid;
  z-index: 200;
}
.not-chat {
  font-size: 20px;
  font-weight: bold;
}

/*norightbar*/

.main-messages-norightbar {
  width: calc(100% - 580px);
  display: flex;
  flex-direction: row;
  margin-top: 92px;
  margin-left: 425px;
  margin-right: 10px;
  margin-bottom: 20px; 
  padding-right: 20px;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: bold;
  background-color: #f9f9f9;
}

.search-message-norightbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  margin-top: 110px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.message-friend-pages-norightbar {
  position: absolute;
  min-width: 722px;
  width: calc(100% - 596px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px #e0e0e0 solid;
  background-color: #f9f9f9;
  z-index: 300;
}

.searchbar-message-friend-norightbar {
  position: absolute;
  top: 10px;
  left: 30px;
}

.input-search-friend-norightbar {
  display: flex;
  height: 40px;
  padding-left: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  text-indent: 10px;
  background-color: #f0f0f0f0;
}
.input-search-friend-norightbar:focus {
  outline: 1px lightgray solid;
}

.pick-chat-norightbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  width: auto;
  max-width: 1200px;
  border-radius: 0px 15px 0px 0px;
  border-left: 2px #e0e0e0 solid;
  background-color: #f9f9f9;
  z-index: 10;
}

.message-chat-container-norightbar {
  display: flex;
  flex-direction: column;
  min-width: 502px;
  flex: 1;
  padding-top: 90px;
  padding-bottom: 10px;
  border-radius: 0px 10px 0px 0px;
  z-index: 250;
  background-color: #f9f9f9;
}

.chat-button-norightbar {
  position: absolute;
  left: 23px;
  bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  background-color: transparent;
  color: #8d8d8d;
  z-index: 69;
}
.chat-button-norightbar:hover {
  background-color: transparent;
}

.chat-input-norightbar {
  position: fixed;
  bottom: 0;
  left: 680px;
  right: 130px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 20px;
}
.chat-input-norightbar textarea {
  width: 100%;
  height: 30px;
  resize: none;
  margin-left: 15px;
  background-color: #dbdbdb;
  border: none;
  border-radius: 15px;
  padding: 10px;
  padding-top: 20px;
  padding-left: 50px;
  font-size: 14px;
}
.chat-input-norightbar textarea::placeholder {
  color: #8d8d8d;
}
.chat-input-norightbar textarea:focus {
  outline: 2px #888888 solid;
}
.chat-input-norightbar textarea::-webkit-scrollbar {
  width: 8px;
}

.chat-input-norightbar textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.chat-input-norightbar textarea::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
.chat-input-norightbar textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.post-chat-norightbar {
  position: absolute;
  right: 20px;
  bottom: 33px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: transparent;
  color: #8d8d8d;
}
.post-chat-norightbar:hover {
  background-color: transparent;
}

.chat-date-norightbar {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
}
