.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.white {
    color: #ccc;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px 0;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.btn-blue {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-green {
  background-color: #00ff00;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-red {
  background-color: #ff0000;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.gray {
  color: #343434;
}

.btn-gray {
  background-color: #343434;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-white {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.error-message {
  color: #ff0000;
  margin: 5px 0;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.fa {
  font-size: 24px;
  cursor: pointer;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-instagram:hover {
  color: #e4405f;
}

.header {
  background-color: #333;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
  cursor: pointer;
  font-size: 18px;
}

nav li:last-child {
  margin-right: 0;
}

nav li:hover {
  color: #ccc;
}

.main{
  margin-left: 90px;
  margin-right: 15px;
}

.post-form {
  margin-bottom: 20px;
}

.post-form form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.post-form input,
.post-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.post-form button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.post-form button:hover {
  background-color: #555;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.post {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.post-content{
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
  margin-left: 5px;
}
.post-content h2{
  margin-top: 0px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.post-content p{
  margin-top: -10px;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}

.post-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden; 
  margin-right: 12px;
  margin-left: 5px;
  margin-top: -30px;
}

.post-avatar img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.message-list-and-comments {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.comments-section{
  flex: 1;
}

.button {
  display: flex;
  flex-direction: row;
}

.likes-container {
  display: flex;
  flex-direction: row;
}

.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes button {
  display: inline-flex;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-right: 2px;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.likes button:hover {
  border-radius: 25px;
}
.likes.clicked {
  transform: scale(1.1);
}


.likes span{
  margin-top: -6px;
  margin-left: 0px;
  margin-right: 3px;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.comment button {
  display: inline-flex;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-right: -1px;
}

.comment button:hover {
  border-radius: 25px;
}

.comment span{
  margin-top: -6px;
  margin-left: 0px;
  margin-right: 3px;
}

.Shares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.Shares button {
  display: inline-flex;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-right: -1px;
}

.Shares button:hover {
  border-radius: 25px;
}

.Shares span{
  margin-top: -6px;
  margin-left: 0px;
  margin-right: 3px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px; 
  justify-content: center;
  align-items: center;
  margin-left: 460px;
}

.button-content{
  width: 50px;
  border-radius: 15px;
}
.button-content:hover{
  background-color: #f1f1f1;
  border-radius: 20px;
}