   /*style dark mode*/
  .dark-mode {
    background-color: #101010; 
    color: white;
  }


  /*buat topbar*/ 
  .dark-mode .topbar .link-following{ 
    background-color: #1E1E1E;
  }

  .dark-mode .search-bar-container{
    background-color: #1E1E1E;
  }
  .dark-mode .search-bar-input{
    color: white;
  }
  .dark-mode .searchbar-button{ 
    background-color: transparent;
    color: white;
  }
  .dark-mode .clear-search-button{
    background-color: transparent;
    color: white;
  }
  .dark-mode .clear-search-button:hover{
    background-color: #5C5C5C;
  }

  .dark-mode .upload{
    background-color: #1E1E1E;
  }
  .dark-mode .input-post textarea{
    background-color: #2F2F2F;
    color: white;
  }
  .dark-mode .uploadItem{
    background-color: transparent;
    color: white;
  }
  .dark-mode .uploadItem:hover{
    background-color: #5C5C5C;
  }
  .dark-mode .uploadButton:hover{
    background-color: #5C5C5C;
  }

  /*buat setting*/ 
  .dark-mode .settings-popup{  
    background-color: rgb(58, 58, 58); 
  }
  .dark-mode .settings-title button{
    background-color: transparent;   
    color: white;
  }
  .dark-mode .settings-title button:hover{
    background-color: rgb(19, 19, 19); 
  }
  .dark-mode .settings-content button{
    background-color: transparent;
    color: white;
  }

    /*buat post*/ 
  .dark-mode .post{
    background-color: #1E1E1E; 
  }
  .dark-mode .post-content{
    background-color: #1E1E1E;
  }
  .dark-mode .opsi-post-button{
    color: white;
    background-color: transparent;
  }
  .dark-mode .opsi-post-button:hover{
    background-color: rgb(40, 40, 40);
  }
  .dark-mode .post-option-popup-self{
    background-color: rgb(50, 50, 50); 
  }
  .dark-mode .post-option-popup-self button{
    background-color: transparent;
    color: white;
  } 
  .dark-mode .post-option-popup-self button:hover{
    background-color: #5C5C5C;
  }
  .dark-mode .post-option-popup-other{
    background-color: rgb(50, 50, 50); 
  }
  .dark-mode .post-option-popup-other button{
    background-color: transparent;
    color: white;
  }
  .dark-mode .post-option-popup-other button:hover{
    background-color: #5C5C5C;
  }
  .dark-mode .icon{
    color: white;
  } 
  .dark-mode .item{ 
  }

    /*buat comment0 & comments */
  .dark-mode .write1{
    background-color: #1E1E1E;
  }
  .dark-mode .input-comment{
    background-color: #2F2F2F; 
    color: white;
    border: 1px white solid;
  }
  .dark-mode .input-comment::placeholder{
    color: white;
  }
  .dark-mode .uploadItem-comment{
    background-color: transparent;
    color: white;
  }
  .dark-mode .button-comment-desc{
    color: white;
  }

    /*buat home*/ 
  .dark-mode .home{ 
  }

    /*buat homeprofile*/ 
  .dark-mode .homeProfile{
    background-color: #1E1E1E;
  }
  .dark-mode .connect-homeProfile{
    background-color: white;
    color: black;
  }

  /*buat rightbar*/
  .dark-mode .rightBar{
    background-color: #1E1E1E;
  }
  .dark-mode .rightBarUser{ 
    background-color: transparent; 
  }
  .dark-mode .rightBarButton{
    background-color: #2F2F2F;
  }
  .dark-mode .rightBarName{
    color: white;
  }

  /*buat fyp*/
  .dark-mode .topbar-fyp .link-fyp{
    background-color: #1E1E1E;
  }

  /*buat notif*/
  .dark-mode .main-notif{
    background-color: #1E1E1E;
  }
  .dark-mode .mark-read-button{
    color: white;
  }
  .dark-mode .bold-button{
    border-bottom: 2px white solid;
  }
  .dark-mode .all-button{
    color: white;
  }
  .dark-mode .mentions-button{
    color: white;
  }
  .dark-mode .unread-button{
    color: white;
  }

  /*buat messages*/
  .dark-mode .main-messages{
    background-color: #2F2F2F;
  }
  .dark-mode .input-search-friend{
    background-color: #1E1E1E;
    border: 1px white solid;
    color: white;
  }

  /*buat frendlist*/
  .dark-mode .friendlist-main{
    background-color: rgb(58, 58, 58);
  }
  .dark-mode .button-info{
    background-color: transparent;
    color: white;
    border: 1px white solid;
  }

  /*buat profile*/

  .dark-mode .profile-main{
    background-color: rgb(58, 58, 58);
  }
  .dark-mode .profil-user{
    background-color: #1E1E1E;
  }
  .dark-mode .rightProfileBar{ 
    background-color: #1E1E1E;
  }
  .dark-mode .rightBarNameProfile{
    color: white;
  }

  /*buat update profile*/

  .dark-mode .edit-profile-container{
    background-color: #1E1E1E;
  } 
  .dark-mode .edit-close{
    background-color: transparent;
    color: white;
  }
  .dark-mode .edit-close:hover{
    background-color: #5C5C5C;
  }
  .dark-mode .selected-image-edit-profile{
    background-color: #1E1E1E;
    border: 1px white solid;
  }
  .dark-mode .clear-image-edit{
    background-color: #1E1E1E;
    border: 1px white solid;
  }
  .dark-mode .clear-image-edit:hover{ 
    background-color: #5C5C5C;
  }
  .dark-mode .file-label{
    background-color: #2F2F2F;
    color: white;
    border: 1px white solid;
  }
  .dark-mode .file-label:hover{ 
    background-color: #5C5C5C;
  }
  .dark-mode .selected-image-edit-cover{
    background-color: #1E1E1E;
    border: 1px white solid;
  }
  .dark-mode .input-edit-name{
    background-color: #2F2F2F;
    color: white;
  }
  .dark-mode .input-edit-city{
    background-color: #2F2F2F;
    color: white;
  }
  .dark-mode .city-icon{
    color: white;
  }
  .dark-mode .input-edit-bio{
    background-color: #2F2F2F;
    color: white;
  }
  .dark-mode .edit-save{
    background-color: white;
    color: black;
  }

  /*buat logout*/

  .dark-mode .logout-popup{
    background-color: #1E1E1E;
  }
  .dark-mode .logout-button-logout{
    background-color: white;
    color: black;
  }
  .dark-mode .logout-button-close{
    background-color: black;
    color: white;
  }