.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: "Inter";
  text-decoration: none;
  z-index: 400;
}

.navbar-logo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-left: 20px;
}

.navbar-name {
  width: 65px;
  font-size: 20px;
}

/*buat search*/
.navbar .search-container {
  width: 265px;
  margin-top: 15px;
  margin-bottom: 20px; 
}
.navbar .searchbar-button{ 
  color: black;
}

/**/

.navbar button {
  margin: 0 10px;
}

.navbar-fyp,
.navbar-home,
.navbar-newest {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  color: grey;
  text-decoration: none;
  margin-left: 100px;
}

.navbar-fyp button,
.navbar-home button,
.navbar-newest button {
  background-color: transparent;
  color: grey;
  font-size: 20px;
}

.navbar-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
}
.navbar-profile button {
  border-radius: 10px;
  margin-left: -10px;
  background-color: transparent;
  color: white;
}
.navbar-profile button:hover {
  background-color: transparent;
}
.navbar-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.hidden-link {
  display: none;
}
 
.popup-navbar{
  position: absolute;
  top: 65px;
  right: 25px;
  width: 170px;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: white;
  color: gray;
}
.profile-navbar{
  width: 150px;
  display: flex; 
  gap: 10px; 
  text-decoration: none; 
}
.profile-navbar button{
  display: flex;
  align-items: center;
  margin-left: 3px;
  gap: 5px;
  background-color: transparent;
  color: #8E8E8E;
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
}
.navbar-mode{
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-left: 3px;
  padding-left: 7px; 
}
.navbar-mode h3{
  flex: 1;
  color: #8E8E8E;
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
}
.switch-navbar {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-left: auto;
    margin-right: 10px;
  }
  .switch-navbar input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.navbar-signout{
  width: 150px;
  display: flex; 
  gap: 10px; 
  text-decoration: none;
}
.navbar-signout button{
  display: flex;
  align-items: center;
  margin-left: 3px;
  gap: 5px;
  background-color: transparent;
  color: red;
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
}