.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-popup {
  position: fixed;
  top: 70px;
  left: 90px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0px 15px 15px 15px;
  z-index: 901;
  font-family: "Inter";
}

.settings-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: -20px;
}

.settings-title h2 {
  font-size: 20px;
  margin-top: 9px;
}

.settings-title button {
  margin-top: 5px;
  margin-left: 10px;
}
.settings-title button:hover {
  border-radius: 10px;
  background-color: gray;
}
.settings-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.settings-content h3 {
  font-size: 15px;
  font-weight: bold;
}
.settings-content button {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
  margin-left: -5px;
  gap: 8px;
  transition: background-color 0.5s;
}
.settings-content button:hover {
  background-color: gray;
  border-radius: 8px;
}

.settings-mode {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.settings-mode h3 {
  flex: 1;
}
.settings-mode button {
  display: flex;
}
.switch {
  position: relative;
  display: inline-block;
  margin-left: auto;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.settings-pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(100% - 630px);
  width: 100%;
  height: 100vh;
  margin-top: 93px;
  margin-left: 435px;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: "Inter";
}

.settingspage-title {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px #e0e0e0 solid;
  font-family: "Inter";
}
.settingspage-title h2 {
  font-weight: bolder;
  font-size: 25px;
}

.settingspage-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.settingspage-content button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  gap: 15px;
}
.link-settings-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 2px #e0e0e0 solid;
}
.button-link-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  gap: 15px;
  padding-left: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  cursor: default;
}
.link-settings {
  text-decoration: none;
  margin-left: auto;
  margin-right: 25px;
  color: black;
}
.link-settings:hover {
  border-radius: 5px;
  background-color: #e0e0e0;
}

.settingspage-mode {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  border-bottom: 2px #e0e0e0 solid;
}
.settingspage-mode svg {
  margin-left: 20px;
}
.settingspage-mode h3 {
  margin-left: 15px;
}

.switch-norightbar {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left: auto;
  margin-right: 20px;
}

.logout-settings-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 9px;
  padding-left: 5px;
  padding-bottom: 4px;
  margin-top: 30px;
  border-top: 2px #e0e0e0 solid;
  border-bottom: 2px #e0e0e0 solid;
}
.logout-settings-container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.logout-settings-container button:hover {
  border-radius: 10px;
}
