.signup-main{
  background-color: white;
}
.signup-container {
  display: flex;
  justify-content: flex-end; 
  height: 95vh;
  align-items: center;
  margin-right: 20vh;
  }
.signup-container h1{
  position: absolute;
  top: 15px;
  left: 40px;
  width: 790px;
  font-family: "Inter" ;
  font-size: 35px;
  font-weight: 600;
}  

  .signup-form {
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 500px;
  }
  .signup-form h3{
    margin-top: -5px;
    font-size: 30px; 
    font-family: "Inter";
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-top: -10px;
  }
  .form-group label{
    margin-left: -150px;
    font-size: 15px;
    font-family: "Inter";
    font-weight: bold;
  }

  .input-signup{
    width: 300px;
    height: 15px;
    border-radius: 8px;
    border: 1px black solid;
    padding: 10px;
  }
  .show-password-signup-button {
    margin-top: -30px;
    margin-left: 275px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px;
  }
  .show-password-signup-button:hover {
    border-radius: 25px;
  }
  
  .checkbox-container-signup {
    margin-right: 43px;
    margin-top: -25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .checkbox-input-signup {
    border: 1px black solid;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-top: -10px;
    margin-right: 8px;
    cursor: pointer;
  }
  
  .checkbox-input-signup:checked {
    background-color: #ffffff;
    border: 1px black solid;
  }
  .checkbox-input-signup:checked::before {
    content: '\2713'; 
    position: fixed;
    margin-top: -4px;
    margin-left: 1px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .checkbox-label-signup h4{
    font-size: 15px;
    font-weight: normal;
    font-family: "Inter";
  }
  .terms-button {
    background-color: transparent;
    font-size: 14px;
    font-family: "Inter";
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 2px;
  }
  .terms-button:hover{
    font-size: 14px;
    font-weight: bold;
    transform: translate(0, -1px) scale(1.0);
    background-color: transparent;
  }

  .sign-up {
    width: 310px;
    height: 40px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: -10px;
    margin-left: -5px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Inter";
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.5s;
  }
  
  .sign-up:hover {
    font-family: "Inter";
    font-size: 18px;
    font-weight: bold;
    background-color: lightgray;
    color: #000000;
    border-radius: 10px;
  }
  .log-in p{
    margin-right: 0px;
    font-size: 13px;
    font-family: "Inter";
    font-weight: normal;
  }
  .button-log-in {
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-family: "Inter";
    font-weight: bold;
  }
  
  .button-log-in:hover {
    font-size: 15px;
    font-family: "Inter";
    font-weight: bold;
  }
  
  .error-message {
    color: #ff0000;
    margin: 5px 0;
  }
  
  .header {
    background-color: #333;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav li:hover {
    color: #ccc;
  }
  
  .main{
    margin-left: 90px;
    margin-right: 15px;
  }
  
  .post-form {
    margin-bottom: 20px;
  }
  
  .post-form form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  
  .post-form input,
  .post-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  
  .post-form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .post-form button:hover {
    background-color: #555;
  }
  
  .post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .post {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
  }
  
  .post-content{
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    margin-left: 5px;
  }
  .post-content h2{
    margin-top: 0px;
    font-family: "Inter";
    font-weight: bold;
  }
  .post-content p{
    margin-top: -10px;
    font-family: "Inter";
  }
  .content-form{
    position: fixed;
    z-index: +1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(211, 211, 211, 0.5));
    backdrop-filter: blur(10px);
  }
  
  .post-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden; 
    margin-right: 12px;
    margin-left: 5px;
    margin-top: -30px;
  }
  
  .post-avatar img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
  .message-list-and-comments {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: calc(100vh - 200px)
  }
  .message-list-container {
    max-width: 100%;
    overflow-y: visible;
    max-height: 100%;
  }
  .message-list2{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 200px;
    margin-top: 20px;
    margin-right: 20px;
    width: 350px;
  }
  .message-post{
    display: flex;
    align-items: center; 
    border-radius: 0;
    border: 1px whitesmoke solid;
    box-shadow: 5px 15px 20px rgba(0, 0, 0.3, 0.3);
    padding: 10px;
    width: 750px;
    margin-bottom: 20px;
  }
  .comments-section-container{
    position: fixed;
    margin-left: 815px;
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
  }
  .comments-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    border: 1px whitesmoke solid;
    box-shadow: 15px 15px 20px rgba(0, 0, 0.3, 0.3);
    padding: 10px;
    width: 400px;
    margin-bottom: 250px;
    margin-top: 20px;
  }
  .comments-section h1{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -5px;
    font-family: "Inter";
    font-weight: bold;
  }
  .comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; 
    margin-right: 12px;
    margin-top: 15px;
  }
  
  .comment-avatar img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
  .comment {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px rgb(192, 192, 192) solid;
  }
  
  .comment-content {
    display: flex;
    flex-direction: column;
  }
  
  .comment h2 {
    margin-bottom: -35px;
    font-family: "Inter";
    font-weight: bold;
  }
  
  .comment p {
    margin-top: 40px;
    font-family: "Inter";
  }
  
  
  .button {
    display: flex;
    flex-direction: row;
  }
  
  .likes-container {
    display: flex;
    flex-direction: row;
  }
  
  .likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .likes button {
    display: inline-flex;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-right: 2px;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .likes button:hover {
    border-radius: 25px;
  }
  .likes.clicked {
    transform: scale(1.1);
  }
  
  
  .likes span{
    margin-top: -6px;
    margin-left: 0px;
    margin-right: 3px;
  }
  
  .comment-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }
  
  .comment-button button {
    display: inline-flex;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-right: -1px;
  }
  
  .comment-button button:hover {
    border-radius: 25px;
  }
  
  .comment-button span{
    margin-top: -6px;
    margin-left: 0px;
    margin-right: 3px;
  }
  
  .Shares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
  }
  
  .Shares button {
    display: inline-flex;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-right: -1px;
  }
  
  .Shares button:hover {
    border-radius: 25px;
  }
  
  .Shares span{
    margin-top: -6px;
    margin-left: 0px;
    margin-right: 3px;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px; 
    justify-content: center;
    align-items: center;
    margin-left: 460px;
  }
  
  .button-content{
    width: 50px;
    border-radius: 15px;
    position: fixed;
    margin-left: -420px;
    background: transparent;
  }
  .button-content:hover{
    background-color: #f1f1f1;
    background: #f1f1f1;
    border-radius: 40px;
  }